{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}


{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
			{% endif %}
			{% for obj in instance_obj %}
			<h3>{{obj.title}} <small class="pull-right"><i>{{create_date.timesince}}</i></small></h3>
			{% if image %}
				<img src="{{STATIC_URL}}{{obj.image.url}}" class="thumbnail img-responsive pull-right">
			{% endif %}
			<p class="content">{obj.{bio|linebreaks}}</p>
			<!-- <p>Auther: {{user}}</p> -->
			{% endfor %}
			<hr>
			<br/>
			
			<div class="container">
			</a>
			{% if user.is_staff or user.is_authenticated %}
				<a href="{% url 'main:create_profile' %}"><button class="btn btn-success create">Add New Page</button></a>
				<a href="{% url 'main:update_profile' slug=slug %}"><button class="btn btn-primary">Update</button></a>
			{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}