{% load staticfiles %}

{% block carousel %}
<div class="wrapper">
    <div class="section section-header">
        <div class="parallax pattern-image">
            <img src="{% static 'ffw/images/Keg-Front-Page-Shot.jpg' %}" />
            <!--                     <img src="/assets/img/header6.jpg"/> -->
            <div class="container">
                <div class="content">
                    <h1>Free Flow Wine</h1>
                <div class="separator-container">
                    <div class="separator line-separator">∎</div>
                </div>
                <h5>The best California's wine</h5>
            </div>
        </div>
    </div>
    
    <a href="" data-scroll="true" data-id="#whoWeAre" class="scroll-arrow hidden-xs hidden-sm">
    <i class="fa fa-angle-down"></i>
    </a>
</div>
{% endblock %}