{% load staticfiles %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

         <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.ico' %}">

        <title>Free Flow Wine | Califorina's Wine</title>

        <!-- Canonical SEO -->
        <link rel="canonical" href="http://www.ffw.com"/>
        
        <meta content="The most beautiful freebies, kits and website templates built for the bootstrap framework. A place for designers and developers." name="description" />
        <meta content="creativetim, creative tim, bootstrap, theme, freebies, bootstrap kit, bootstrap template, free items, beautiful ui, awesome freebies,  css cards,  bootstrap wizard,  bootstrap plugin" name="keywords" />
        <meta content="Free Flow Wine - Tools to build better websites" property="og:title" />
        <meta content="http://www.ffw.com/" property="og:url" />
        <meta content="https://s3.amazonaws.com/creativetim_bucket/mailchimp_tim_white_bg.jpg" property="og:image" />
        <meta content="The most beautiful  freebies, kits and website templates built for the bootstrap framework. A place for designers and developers." property="og:description" />
        <meta content="summary" property="twitter:card" />
        <meta content="http://www.ffw.com/" property="twitter:url" />
        <meta content="Creative Tim - Tools to build better websites" property="twitter:title" />
        <meta content="The most beautiful  freebies, kits and website templates built for the bootstrap framework. A place for designers and developers." property="twitter:description" />
        <meta content="https://s3.amazonaws.com/creativetim_bucket/mailchimp_tim_white_bg.jpg" property="twitter:image" />
        <meta content="/" property="twitter:domain" />
        <meta content="@CreativeTim" property="twitter:site" />
        <meta content="@CreativeTim" property="twitter:creator" />

        {% block styles %}

        <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/rubick_pres.css' %}" rel="stylesheet"/>
        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
        <link href="{% static 'assets/css/pe-icon-7-stroke.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/Rubik-Fonts.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/assets_extra_style.css' %}" rel="stylesheet" />

        <link href="{% static 'ffw/css/style.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        
        {% endblock %}
    </head>
    <body>