

 <nav class="navbar navbar-default navbar-transparent navbar-fixed-top navbar-burger" role="navigation">
            <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
            <div class="container">
                <div class="navbar-header">
                    <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                    </button>
                    <a target="_blank" href="http://www.ffw.com" class="navbar-brand title">
                    Free Flow Wine
                    </a>
                </div>
                <div class="collapse navbar-collapse" >
                    <ul class="nav navbar-nav navbar-right navbar-uppercase">
                        <li class="social-links">
                            <a href="https://www.facebook.com/FreeFlowWine/?fref=ts" title="Free Flow Wine" target="_blank">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="https://twitter.com/FreeFlowWine" title="Free Flow Wine" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="https://plus.google.com/u/0/s/free%20flow%20wine" title="Free Flow Wine" target="_blank">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/free-flow-wines?trk=company_logo" title="Free Flow Wine" target="_blank">
                                <i class="fa fa-linkedin"></i>  
                            </a>
                            <a href="https://www.youtube.com/watch?v=TAmTFJu78vo" title="Free Flow Wine" target="_blank">
                                <i class="fa fa-youtube"></i>
                            </a>

                        </li>
                        <li>
                            <a href="" data-scroll="false" data-id="#setting">
                            Setting
                            </a>
                        </li>
                        <li>
                            <a href="" data-scroll="true" data-id="#whoWeAre">
                            About
                            </a>
                        </li>
                        <li>
                            <a href="" data-scroll="true" data-id="#workflow">
                            What We Do
                            </a>
                        </li>
                        <li>
                            <a href="" data-scroll="true" data-id="#projects">
                            Famous Freebies
                            </a>
                        </li>
                        <li>
                            <a href="" data-scroll="true" data-id="#uitools">
                            Premium UI Tools
                            </a>
                        </li>
                        <li>
                            <a href="" data-scroll="true" data-id="#clients">
                            Testimonials
                            </a>
                        </li>
                        <li>
                            <a href="" data-scroll="true" data-id="#team">
                            Team
                            </a>
                        </li>
                        <li>
                            <a href="" data-scroll="true" data-id="#numbers">
                            Numbers
                            </a>
                        </li>
                        <li>
                            <a href="" data-scroll="true" data-id="#contact">
                            Contact
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>