{# extends "registration/registration_base.html" #}

{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation Failure" %}{% endblock %}

<div class="container">
	{% block content %}
	<div class="row">
		<div class="col-md-8">

			<p>{% trans "Account activation failed." %}</p>

		</div>
	</div>
	{% endblock %}	
</div>


{% comment %}
**registration/activate.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}
