{# extends "registration/registration_base.html" #}


{# extends "base.html" #}

{% block styles %}{% endblock %}

{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block closescript %}
<script>
    function clode_window(){
        if(confirm('Close Window?')) {
            close();
        }
    }
</script>
<script>
  function Exit() {
     var x=confirm('Are You sure want to exit from login to reset password form?:');
     if(x) window.close();
   }
</script>
{% endblock %}



{% block title %}{% endblock %}

<div class="container">

{% block login %}
    
<div class="col-md-6">
    <h3 class="login-title">{% trans "Log in" %}</h3>

    <form method="POST" class="form-signin" action="{% url 'auth_login' %}">{% csrf_token %}

        {{ form|crispy }}
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary pull-right" value="{% trans 'Log in' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
       
    </form>
    <br/>
    <div class="footer" role="footer">
        <a href="{% url 'auth_password_reset' %}" data-toggle="modal" data-target="#resetPasswordModal" onClick="Exit()">
            <button type="button" class="btn btn-primary btn-lg" onclick="close_window();return false;">{% trans "Reset it Password!" %}</button>
        </a>
        <a href="{% url 'registration_register' %}" data-toggle="modal" data-target="#registerModal">
            <button type="button" class="btn btn-primary btn-lg" ><!--  onClick="Exit()" -->
            {% trans "Register" %}
            </button>
        </a>
    </div>
    <br/>
</div>
{% endblock %}
</div>

{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}

<!-- Modal -->
<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Please enter your email address to rest your password!</h4>
      </div>
      <div class="modal-body">
        {% block resetpassword %}
          
        {% endblock %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Register</button>
      </div>
    </div>
  </div>
</div>
