{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
	<p>{% trans "Enter your new password below to reset your password:" %}</p>
	<form method="post" action="" class="form-horizontal">
	    {% csrf_token %}
	    {{ form|crispy }}
	    <input type="submit" value="{% trans 'Set password' %}" />
	</form>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
