/* NAVBAR */

nav.navbar.navbar-default.navbar-fixed-top.navbar-burger {
	background-color: none;
	background: #330000;
}

/*the top tool of burger and ffw*/
a.navbar-brand {
	color: #fff;
}

.content h1, div.separator.line-separator, h5 {
	color: #990000;
}


/* FOOTER */
.footer-color-black {
	background-color: none;
	background: #330000;
	height: 140px;
}