/* NAVBAR */

nav.navbar.navbar-default.navbar-fixed-top.navbar-burger {
	background-color: none;
	background: #330000;
}

/*the top tool of burger and ffw*/
a.navbar-brand.title {
	color: #fff;
}

 a.login ,  a.register {
	display: inline-block;
}
/*#########################################################*/
/* Login templates */
label.control-label.requiredField, h3.login  {
	clear: both;
	float: left;
}




/*#########################################################*/

.content h1, div.separator.line-separator, h5 {
	color: #990000;
}


/* FOOTER */
.footer-color-black {
	background-color: none;
	background: #330000;
	height: 140px;
}