
{% extends 'base.html' %}
{% include 'carousel.html' %}

{% block content %}

<h2>About Creative Tim</h2>
<div class="separator-container">
    <div class="separator line-separator">∎</div>
</div>
<p class="lead">
    Creative Tim is a startup that creates design tools that make the web development process faster and easier. We love the web and care deeply for how users interact with a digital product. We power businesses and individuals to create better looking web projects around the world.
</p>

{% endblock %}